$firstcolor : #565264;
$secondcolor : #706677;
$thirdcolor : #A6808C;

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
    background-color: $firstcolor;
    color: white;
    height: 150px;
    & i{
        font-size: 50px;
    }
    & nav{
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
    & button{
        background-color: transparent;
        font-size: 32px;
        border: none;
        color: white;
        cursor: pointer;
    }
}

