/* You can add global styles to this file, and also import other style files */
$firstcolor : #565264;
$secondcolor : #706677;
$thirdcolor : #A6808C;
$postItcolor : #FDCA40;

body {
    margin: 0;
}
a:visited{
    color: white;
}
a{
    text-decoration: none;
}